@import "tailwindcss";

@theme {
    --drop-shadow-custom-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --drop-shadow-custom-shadow-circle: 0 4px 6px rgba(0, 0, 0, 0.1);

    --font-family-vibes: var(--font-vibes);

    --animate-scale-up: scaleUp 0.3s forwards;
    --animate-fade-in: fadeIn 0.5s ease-in-out forwards;
}

.font-vibes {
    font-family: var(--font-vibes, "Great Vibes", cursive);
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    border: 1px solid #fff;
}

.bg-magic {
    background-image: linear-gradient(
            112.5deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(
            157.5deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(
            135deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
    background-blend-mode: overlay, overlay, overlay, normal;
    transform: scale(-1);
}

.gradient-card {
    background: linear-gradient(
        to right,
        rgba(226, 228, 246, 0.919) 0%,
        rgba(226, 228, 246, 0.427) 20%,
        rgba(226, 228, 246, 0.186) 40%,
        rgba(226, 228, 246, 0.053) 70%,
        rgba(167, 126, 232, 0) 100%
    );
}

.gradient-card-inverse {
    background: linear-gradient(
        to left,
        rgba(226, 228, 246, 0.919) 0%,
        rgba(226, 228, 246, 0.427) 20%,
        rgba(226, 228, 246, 0.186) 40%,
        rgba(226, 228, 246, 0.053) 70%,
        rgba(167, 126, 232, 0) 100%
    );
}

.gradient-card-mobile {
    background: linear-gradient(
        to bottom,
        rgba(226, 228, 246, 0.919) 0%,
        rgba(226, 228, 246, 0.427) 20%,
        rgba(226, 228, 246, 0.186) 40%,
        rgba(226, 228, 246, 0.053) 70%,
        rgba(167, 126, 232, 0) 100%
    );
}

/* Animations pour le CTA */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}
